<div class="container">

    <div class="mb-2">
        <div>
            <button class="btn btn-outline-primary mb-2 me-2" (click)="isCollapsed = !isCollapsed">Filter</button>
        </div>
        <div [collapse]="isCollapsed" [isAnimated]="true">
            <div class="border mb-2 shadow-sm" style="width: 250px"></div>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let project of projects" class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380px;">
            <app-proj-card [project]="project"></app-proj-card>
        </div>
    </div>
</div>