<div class="container text-center">
    <button class="btn btn-primary mb-5 shadow border" (click)="DownloadFile()">Download PDF Resume</button>

    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isWorkOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">-</div>
                    <div class="btn-link">Work Experience</div>
                    <div style="width: 10.95px">
                        <div *ngIf="!isWorkOpen" style="color: white;">></div>
                        <div *ngIf="isWorkOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align:left">
                    <h2 class="mb-0">DevOps Engineer</h2>
                    <h3 class="text-primary">Peraton | Washington DC | 05/2024-Present</h3>
                    <ul>
                        <li>Designed and implemented client-specific DevOps workflow across multiple enclaves</li>
                        <li>Automated deployments and testing of .NET project via GitLab pipelines executing Powershell scripts</li>
                        <li>Oversees ongoing maintenance and improvements to DevOps workflow</li>
                        <li>Coordinates with Scrum lead to ensure integration of Jira with DevOps process</li>
                        <li>Applies security patches to keep developer VMs up to date</li>
                    </ul>
                </div>
                <br>
                <div style="text-align:left">
                    <h2 class="mb-0">Cloud Software Engineer</h2>
                    <h3 class="text-primary">CGI Federal | Washington DC | 03/2023-05/2024</h3>
                    <ul>
                        <li>Developed automation in Ansible and Chef Automate to remediate Tenable security findings in multiple AWS VPCs</li>
                        <li>Developed new Infrastructure as Code to migrate existing enterprise software to AWS</li>
                        <li>Regularly troubleshooted within AWS through the use of the EC2, RDS, S3, Lambda, IAM, Route53, and CloudWatch services</li>
                        <li>Ensured code is version controlled, tested, and deployed by leveraging GitLab pipelines, runners, and CI/CD workflow</li>
                        <li>Well practiced in integrating IaC with Vault and Artifactory</li>
                        <li>Maintained strong understanding of RHEL 8 OS Administration</li>
                        <li>Exercised deep knowledge of network and Linux security principles</li>
                        <li>Made advanced use of Excel to deliver weekly security scan reports</li>
                    </ul>
                </div>
                <br>
                <div style="text-align:left">
                    <h2 class="mb-0">Technical Consultant</h2>
                    <h3 class="text-primary">CGI Federal | Fairfax, VA/Remote | 09/2021-03/2023</h3>
                    <ul>
                        <li>Sole Technical Consultant for AmeriCorps client team</li>
                        <li>Ensured availability of enterprise grade financial software used to process millions of dollars in transactions</li>
                        <li>Configured automations in AdTempus job scheduler to expedite business processes</li>
                        <li>Developed new automation in Python and Powershell to monitor availability of prod and non-prod environments</li>
                        <li>Remediated security vulnerabilities and deployed client-specific code enhancements</li>
                        <li>Spearheaded multi-client initiative to construct multiple site wide VPN connections</li>
                        <li>Used the following technologies daily: SQL, Python, Powershell, CMD, AdTempus, Jenkins</li>
                    </ul>
                </div>
                <br>
                <div style="text-align:left">
                    <h2 class="mb-0">Software Engineering Intern</h2>
                    <h3 class="text-primary">ADP | Norfolk VA/Remote | 06/2020-08/2020</h3>
                    <ul>
                        <li>Worked in a full stack environment: React - Node - Express.js - Python - MongoDB</li>
                        <li>Optimized data request speeds by 80% through the use of asynchronous requests</li>
                    </ul>
                </div>
                <br>
                <div style="text-align:left">
                    <h2 class="mb-0">Software Engineering Intern</h2>
                    <h3 class="text-primary">Virginia Systems & Technology (now Altamira) | Warrenton VA | 01/2020-06/2020</h3>
                    <ul>
                        <li>Implemented secure federation between chat clients on a decentralized network</li>
                        <li>Expanded upon 4 open source projects in an agile environment</li>
                        <li>Tested in a locally hosted docker network running 4+ docker containers concurrently</li>
                    </ul>
                </div>

            </accordion-group>
            <accordion-group [(isOpen)]="isEduOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">-</div>
                    <div class="btn-link">Education</div>
                    <div style="width: 10.95px">
                        <div *ngIf="!isEduOpen" style="color: white;">></div>
                        <div *ngIf="isEduOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align:left">
                    <h2 class="mb-0">Virginia Tech</h2>
                    <h3 class="text-primary">Computer Science (minor: Cybersecurity)</h3>
                </div>
            </accordion-group>
            <accordion-group [(isOpen)]="isCertOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">-</div>
                    <div class="btn-link">Certifications</div>
                    <div style="width: 10.95px">
                        <div *ngIf="!isCertOpen" style="color: white;">></div>
                        <div *ngIf="isCertOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left">
                    <h3>CompTIA Security+ (SYO-701)</h3>
                    <ul>
                        <li>Obtained August 2024</li>
                    </ul>
                </div>
            </accordion-group>
            <accordion-group [(isOpen)]="isSkillOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">-</div>
                    <div class="btn-link">Skills</div>
                    <div style="width: 10.95px">
                        <div *ngIf="!isSkillOpen" style="color: white;">></div>
                        <div *ngIf="isSkillOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left">
                    <div class="col">
                        <h3>Languages</h3>
                        <ul>
                            <li>Python</li>
                            <li>Bash</li>
                            <li>Javascript</li>
                            <li>Java</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Technologies</h3>
                        <ul>
                            <li>Ansible</li>
                            <li>Terraform/Terragrunt</li>
                            <li>AWS</li>
                        </ul>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>
