<div class="container">
    <div class="row">
        <!-- About me -->
         <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../../public/favicon.ico" alt="dummy-pic" width="256" height="256" class="rounded-circle">
                <p>ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</p>
            </div>
         </div>
         <!-- Featured Project -->
         <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <p>ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</p>
            </div>
         </div>
    </div>
</div>